.container {
  padding: 15px 45px;
  color: var(--primary-txt-color);
}
.page_title {
  margin-bottom: 12px;
  font-weight: bold;
}

.section_title {
  font-size: medium;
  font-weight: bold;
  margin-bottom: 12px;
}

.section_data {
  font-family: var(--primary-font-family);
  font-size: medium;
  font-weight: 400;
}

.genres {
  display: flex;
  font-size: medium;
}

.genre_item {
  margin-right: 6px;
}

.goback_button {
  padding: 0;
  display: inline-block;
  width: 60px;
  height: 24px;
  border: 0;
  border-radius: 4px;
  color: white;
  background-color: var(--primary-txt-color);
  background-position: center;
  opacity: 0.6;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
}

.goback_button:hover {
  background-color: var(--accent-txt-color);
  box-shadow: var(--box-shadow);
}

.wrapper_link {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.wrapper_movie {
  display: flex;
}

.link {
  display: inline-block;
  margin-bottom: 6px;
}

.link:hover,
.link:focus {
  color: var(--accent-txt-color);
}

.link.active {
  color: var(--accent-txt-color);
}

.details__img {
  padding-right: 15px;
}
